/* ==========================================================================
   Tabs
   ========================================================================== */

.ds-tabs {
  display: flex;
  border-bottom: 1px solid var(--ds-border-subtle);
}

/* Tab item
   ========================================================================== */

.ds-tab {
  height: 40px;
  padding: 12px 16px 0 16px;
  border: none;
  background: transparent;
  color: var(--ds-text-secondary);
  cursor: pointer;
  font-size: var(--ds-font-size-sm);
  font-weight: var(--ds-font-weight-medium);
  border-bottom: 2px solid transparent;
  transition: all 150ms;
}

/* Hover (not active, not disabled)
   ========================================================================== */

.ds-tab:not(.ds-tab--active):not(.ds-tab--disabled):hover {
  color: var(--ds-text-default);
}

/* Active
   ========================================================================== */

.ds-tab--active {
  color: var(--ds-color-primary);
  border-bottom-color: var(--ds-color-primary);
}

/* Disabled
   ========================================================================== */

.ds-tab--disabled {
  color: var(--ds-text-disabled);
  pointer-events: none;
}
